.primary-button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $secondary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba($primary-color, 0.15);
  border-radius: 4px;
  border: none;

  &--flex {
    @extend %flexCenter;
  }
}

.primary-button__icon {
  margin-left: 10px;
}

.primary-button--flex {
  &:hover {
    background-color: $accent-shade-color;
    @include transition(background-color);
  }
}

.primary-button {
  &:hover {
    background-color: $accent-shade-color;
    @include transition(background-color);
  }
}

.secondary-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background-color: $secondary-shade-color;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.secondary-button {
  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba($primary-color, 0.1),
      0px 1px 2px rgba($primary-color, 0.08),
      0px 2px 2px rgba($primary-color, 0.12);
    @include transition(background-color);
    @include transition(box-shadow);
  }
}

// MENU
.menu-button {
  @include transition(color);
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: transparent;

  &.is-open .icon-cross {
    opacity: 1;
  }

  &.is-open .icon-menu {
    opacity: 0;
  }

  & .icon-cross {
    opacity: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

// MODAL
.close-button {
  display: flex;
  align-items: center;
  content: "";
  height: 30px;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background: $secondary-color;
  border: 1px solid rgba($primary-color, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  @include transition(color);

  &:hover {
    color: $accent-color;
  }
}

.close-button__icon {
  fill: currentColor;
}
