.contacts {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.contacts__item {
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    &:first-child {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:last-child {
      margin-right: 30px;
    }
  }
}

.contacts__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-shade3-color;

  &--secondary {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba($secondary-color, 0.6);
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    @include transition(color);
  }
}

.contacts-link--primary {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-size: 24px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.mobile--tel {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    color: $accent-color;
  }
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    fill: currentColor;
    margin-right: 10px;
  }

  @media screen and (max-width: 1199px) {
    &.icon--desktop {
      display: none;
    }
  }

  @media screen and (min-width: $desktop) {
    &.icon--tablet {
      display: none;
    }
  }
}
.icon--tel {
  @media screen and (min-width: $tablet) {
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 16px;
  }
}
.icon--email {
  @media screen and (min-width: $tablet) {
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 12px;
  }
}
