.contacts {
  @media screen and (max-width: 767px) {
    margin-top: 302px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
    align-items: center;
  }

  &__item:last-child {
    margin-left: 50px;
  }
}

.contacts__item {
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    &:first-child {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:last-child {
      margin-right: 30px;
    }
  }
}

.contacts__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-shade3-color;

  &--secondary {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba($secondary-color, 0.6);
  }

  &:hover,
  &:focus {
    color: $accent-color;
    @include transition(color);
  }
}

.contacts__link {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
