.footer {
  padding: 60px 0;
  font-style: normal;
  background-color: $primary-shade3-color;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.footer__container {
  align-items: baseline;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.map-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-color;
}

.footer__contacts {
  margin-top: 20px;
}

.footer__contacts-item {
  margin-top: 9px;
}

.footer__social-wrapper {
  width: 206px;
  @media screen and (max-width: 767px) {
    margin: 60px auto 0;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}
