.section-header {
  border: 1px solid $secondary-shade1-color;

  &__container-header {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    padding: 16px 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $secondary-color;
  }

  @media screen and (min-width: $tablet) {
    padding: 25px 0;
  }
}
