.section-header {
  border: 1px solid $secondary-shade1-color;

  &__contain {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    position: sticky;
    top: 0;
    padding: 16px 0;
    width: 100%;
    background-color: $secondary-color;
  }
}
