.mobile-container {
  z-index: 1;

  @media screen and (max-width: 767px) {
    @include transition(transform);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    text-align: left;
    background-color: $secondary-color;
    transform: translateX(100%);
    &.is-open {
      display: flex;
      flex-direction: column;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.menu-margin {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (max-width: 767px) {
    margin-top: auto;
  }
}

.menu-social {
  @media screen and (max-width: 767px) {
    margin: 64px -10px 0;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba($primary-shade-color, 0.2);
  }
}
.menu-social__link {
  @include transition(color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }

  font-size: 18px;
  color: $accent-color;
  padding: 0 10px;
}
