.portfolio-cards-wrapper {
  margin-top: 40px;

  @media screen and (min-width: $tablet) {
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 50px;
  }
}

.portfolio-cards {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-cards__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio-cards__link {
  display: block;
  @include transition(box-shadow);
  text-decoration: none;
}

.portfolio-cards__image-wrapper {
  cursor: pointer;
  // z-index: -1;
  position: relative;
  overflow: hidden;
  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba($primary-color, 0.12),
      0px 4px 4px rgba($primary-color, 0.06),
      1px 4px 6px rgba($primary-color, 0.16);
    @include transition(box-shadow);
  }

  &:hover .portfolio-cards__overlay,
  &:focus .portfolio-cards__overlay {
    transform: translatey(0);
    opacity: 1;
    @include transition(transform);
  }
}

.portfolio-cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($accent-color, 0.9);
  transform: translatey(100%);
  opacity: 0;
}

.portfolio-cards__text {
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: $secondary-color;
}

.portfolio-cards__text-wrapper {
  background: $secondary-color;
  border: 1px solid $secondary-shade1-color;
  border-top: none;
  box-sizing: border-box;
  padding: 20px 24px;
}

.portfolio-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: $primary-shade-color;
}

.portfolio-cards__discription {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: $secondary-shade3-color;
}
