.site-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    @media screen and (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}

.site-nav__link {
  @include transition(color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }

  font-size: 40px;
  color: $primary-shade-color;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    padding: 32px 0;
  }
}

.site-nav__link--choice {
  @media screen and (min-width: $tablet) {
    position: relative;
    color: $accent-color;
    &::after {
      content: "";
      bottom: -1px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      opacity: 1;
    }
  }
}
