.team-section {
  background-color: $secondary-shade-color;
}

.team-cards {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-cards__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  box-shadow: 0px 1px 3px rgba($primary-color, 0.12),
    0px 1px 1px rgba($primary-color, 0.14),
    0px 2px 1px rgba($primary-color, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $secondary-color;
}

.team-cards {
  &__info {
    padding: 30px 32px 30px 32px;
  }

  &__teammate-name {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__teammate-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-shade3-color;
  }
}
