.theme {
  padding: 118px 0;
  background-color: $primary-shade3-color;
  text-align: center;
  margin: 0 auto;
}

.theme-background {
  margin: 0 auto;
  max-width: 480px;
  background-image: linear-gradient(
      to right,
      rgba($primary-shade3-color, 0.4),
      rgba($primary-shade3-color, 0.4)
    ),
    url(../images/main-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.theme__title {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-color;
}
