.theme {
  padding: 118px 0;
  background-color: $primary-shade3-color;
  text-align: center;
  margin: 0 auto;
}

.theme-background {
  @media screen and (min-width: $desktop) {
    padding: 200px 0;
  }
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $secondary-shade2-color;
  @include bg-img("../images/theme-mobile.jpg");

  @media (min-resolution: 2dppx) {
    @include bg-img("../images/theme-mobile2x.jpg");
  }

  @media (min-width: 480px) {
    @include bg-img("../images/theme-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @include bg-img("../images/theme-tablet@2x.jpg");
    }
  }
  @media (min-width: 768px) {
    @include bg-img("../images/theme-desktop.jpg");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @include bg-img("../images/theme-desktop@2x.jpg");
    }
  }
}

.theme__title {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-color;
}
