// COLORS
$primary-color: #000000;
$primary-shade-color: #212121;
$primary-shade2-color: #afb1b8;
$primary-shade3-color: #2f303a;
$primary-shade4-color: #30313b;

$secondary-color: #ffffff;
$secondary-shade-color: #f5f4fa;
$secondary-shade1-color: #ececec;
$secondary-shade3-color: #757575;

$accent-color: #2196f3;
$accent-shade-color: #188ce8;

// ANIMATION
$animation-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// FONTS
$font-inherit: inherit;
$font-Raleway: Raleway;
$font-Roboto: Roboto;
$font-sans-serif: sans-serif;
